In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
csv = pd.read_csv('Pokemon.csv')

In [4]:
df = pd.DataFrame(csv)

In [5]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [6]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [90]:
# teste t diz o quão provavel seria se testasse a relação com outra amostra da população
# É necessário um valor OBSERVADO e um valor ESPERADO, ele vai calcular o quão perto esta deste valor ESPERADO
# Se calcula supondo que H0 é verdadeira
# Para H1 a media != media0
# então a H0: médian = 79.001250 e H1 media != 79.001250
# pvalue > 0,05, se aceita H0, ou seja se H0 os dados obsevados são normais, ou seja, representam uma população
# pvalue < 0,05 se aceita H1, ou seja os dados observados tem uma probalidade de ocorrer novamente de 5%, o que 
# é muito baixo, então não representam a populção.


stats.ttest_ind(df['Defense'],[73.842500 for x in range(800)])

Ttest_indResult(statistic=-9.0702689179800159e-08, pvalue=0.99999992764104584)

In [99]:
# Exemplo do livro métodos estátisticos aplicado a cinência sociais, pg 177; aplicado ao python
# Os dados

df2

   Negro  Resposta
0     10         1
1     21         2
2     22         3
3     74         4
4     21         5
5     27         6
6     11         7

In [100]:
# Estruturando a amostra, nesta caso só estou separnado para que possa ser encontrada a média correta da amostra
# 4.075

a = [1 for x in range(10)]
b = [2 for x in range(21)]
c = [3 for x in range(22)]
d = [4 for x in range(74)]
e = [5 for x in range(21)]
f = [6 for x in range(27)]
g = [7 for x in range(11)]

dat = a+b+c+d+e+f+g

In [26]:
# verificando o tamanho da amostra

len(dat)

186

In [102]:
#transformando em um objeto Series do Pandas
dat = pd.Series(dat)

In [103]:
# Verificando a média

print(dat.mean())

4.075268817204301

In [104]:
# O teste!!!
# dat é o array que contem a escolha de cada pessoa, a segunda variável é a média esperada! Ou seja,
# Quanto eu estou esperando que esteja próxima


stats.ttest_ind(dat,[df2["Resposta"].mean() for x in range(186)])

Ttest_indResult(statistic=0.67891412646373339, pvalue=0.49761671269696084)

In [105]:
# Neste caso se aceita H0, ou seja, o valor de p é maio de 5% então os dados observados são normais, eles tem
# 49% de chance de ocorrer em outra amostra